@font-face {
    font-family: "Caviar Dreams";
    src: url(../fonts/CaviarDreams.ttf);
}
@font-face {
    font-family: "Caviar Dreams";
    src: url(../fonts/Caviar_Dreams_Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "Caviar Dreams";
    src: url(../fonts/CaviarDreams_Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: "Caviar Dreams";
    src: url(../fonts/CaviarDreams_BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
body {
    font-family: Arial;
    background-image: repeating-linear-gradient(to right, white 5px, #e3d6d1 10px, white 15px);
    margin: 0;
}
header {
    background-color: white;
    height: 80pt;
}
main {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}
footer {
    text-align: right;
    background-color: white;
    height: 120pt;
    position: relative;
}
h3 {
    text-transform: capitalize;
    font-variant: small-caps;
    letter-spacing: 2pt;
}
ol {
    list-style-type: upper-roman;
}
p {
    font-size: 14pt !important;
}
p.greeting {
    font-size: 24pt;
}
em {
    font-weight: normal;
}
.advertising {
    margin-left: 30pt;
}
.advertising-text {
    font-size: 12px;
    margin-top: 5px;
    margint-bottom: 5px;
}
.bigger{
    font-size: 16pt;
}
table.pricelist th, table.pricelist td {
    border: grey thin solid;
    padding: 4 px;
}
table.catalog {
    border-collapse: collapse;
    width: 70%;
    min-width: 12cm;
}
table.catalog td {
    border-top: black thin dotted;
    border-bottom: black thin dotted;
    padding: 10px;
}
table.catalog img {
    /*width: 200px;*/
    width: 100%;
}
table.catalog h3 {
    font-family: "Caviar Dreams";
    font-size: 20pt;
}
table.catalog h3::after {
    content: ":";
}

table.pricelist thead th {
    color: white;
    background-color: grey;
}
table.pricelist tfoot td {
    text-align: right;
    font-style: italic;
}
nav {
    width: 150px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}
nav div, nav a {
    display: block;
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
}
table.catalog tr:first-child td {
    border-top: none;
}
table.catalog tr td:first-child {
    width: 50%;
}
table.catalog tr:last-child td {
    border-bottom: none;
}
table.catalog td p:first-of-type::first-letter{
    font-size: 24pt;
    vertical-align: top;
}
tbody th[colspan="2"]{
    text-align:center;
}
td:last-child:not(:only-child) {
    background-color:lightgrey;
}
nav a:link, nav a:visited {
    color: darkred;
    text-decoration: none;
}
nav a:active, nav a:hover{
    color: darksalmon;
    text-decoration: none;
}
form {
    width: 400px;
    padding: 0px 10px;
    border: thin dotted darkgrey;
    border-radius: 5px;
}
input, select {
    font: 14pt Courier;
    padding: 5px;
    border: medium double black;
    border-radius: 5px;
}
input[type=submit] {
    font: bold 20pt Verdana;
    text-transform: uppercase;
    width: 250px;
    border: thick solid black;
    border-radius: 0;
}
input[type=image] {
    border-style: none;
}
input:focus {
    background-color: yellow;
}
input:valid {
    border-color: green;
}
input:invalid {
    border-color: red;
    background-color: #ecbebe;
}
.orderContainer{
    display: flex;
}
.pos1, .pos2, .pos3, .pos4, .pos5 {
    position: absolute;
}
.pos1 {
    left: 0;
    top: 0;
    width: 140pt;
}
.pos2 {
    left: 140pt;
    top: 29pt;
    right: 0;
}
.pos3 {
    left: 140pt;
    top: 2pt;
    right: 70pt;
}
.pos4 {
    top: 0pt;
    right: 20pt;
}
.pos5 {
    left: 50pt;
    top: 25pt;
    background-color: yellow;
    text-align: center;
    width: 130pt;
    height: 70pt;
}
.pos1 img {
    height: 80pt;
}
.pos2 h1 {
    font: bold italic 42pt Verdana;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 10pt;
    margin: 0;
    background-color: darksalmon;
}
.pos3 h1 {
    font: bold 24pt Verdana;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 6pt;
    margin: 0;
    color: darksalmon;
}
.pos5 .orderLink {
    font: bold 18pt Verdana;
    padding: 13pt;
}
div#tablecont {
    display: table;
    width: 100%;
    border-collapse: collapse;
}
div#tablecont > div {
    display: table-row;
}
div#tablecont > div > * {
    display: table-cell;
    vertical-align: top;
}